
* {
  box-sizing: border-box;
}

/* unvisited link */
a:link {
  color: #181818; 
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: #181818; 
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: white;
  background-color: #181818;  
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #cbcbcb; 
  background-color: #181818;  
  text-decoration: underline;
}

.header {
  	background-color: #181818;  
	  color: white; 
  	text-align: left;
  	padding: 10px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #cbcbcb; 
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #181818;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #181818;  
  color: white;
}


h1.header {
	color: white;
}

h2.department {
  color: #900C3F;
  padding-left: 20px;
	text-align: left;
}

h3.fa-subdepartment {
  color: #0c3f90;
  padding-left: 30px;
	text-align: left;
}

h3.cte-subdepartment {
  color: #0c3f90;
  padding-left: 30px;
	text-align: left;
}

h2.course-name {
  color: #181818;
	padding-left: 20px;
	text-align: left;
}

div.checkboxes {
	padding-left: 10px;
}

div.course {
  padding-bottom: 20px;
}

div.course-name {
  color: #181818;
  padding-left: 40px;
}

div.vertical-line {
  padding-left: 20px;
	padding-right: 20px;
	
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #900C3F;
}

div.course-details {
  color: #181818;

  padding-left: 20px;
	padding-right: 20px;
	
  text-align: left; 	  
  margin-left: 40px;

	width: 80%;
}

p.course-p {
    line-height: 125%;
}

div.checkboxes-div {
    float: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

table.checkboxes-table{
  padding-right: 50px;
}

td.checkboxes-td {
  padding: 5px;
}

