

/* unvisited link */
a:link {
  color: #181818; 
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #181818; 
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  background-color: #181818;  
  text-decoration: none;
}

/* selected link */
a:active {
  color: #cbcbcb; 
  background-color: #181818;  
  text-decoration: none;
}

ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
ul li:before {
	content: "+";
	position: absolute;
	left: 0;
}

.header {
  	background-color: #181818;  
	color: white; 
  	text-align: center;
  	padding-top: 10px;
  	padding-bottom: 10px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #cbcbcb; 
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #181818;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #181818;  
  color: white;
}


h1.header {
	color: white;
}

h2.department {
    color: #181818;
	padding-left: 20px;
	text-align: left;
}

h2.course-name {
    color: #181818;
	padding-left: 20px;
	text-align: left;
}

hr.divider {
	color: #181818;
   	margin-left: 40px;
   
   	width: 85%;
}


table.course-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
}

td.course-td, th.course-th{
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-right: 25px;
	vertical-align: top;
	line-height: 150%;
	border-bottom: 1px solid #000000;

}

th.course-th{
    background-color: #cbcbcb;
    color: #181818;
}


tr.course-tr:nth-child(odd) {
    background-color: #f0f0f0;
}

tr.course-tr:nth-child(even) {
    background-color: #fcfcfc;
}


tr.course-tr:hover {
    background-color: LightYellow;  
}

div.checkboxes {
	padding-left: 10px;
}

div.course-name {
    color: #181818;
	padding-left: 40px;
}

div.course-details {
    color: #181818;
	padding-top: 20px;
	padding-left: 20px;
  	padding-bottom: 20px;
	padding-right: 50px;
  
	text-align: left;
	
	
    background-color: #ffffff;
  	  
  	margin-top: 20px;
  	margin-left: 40px;

	width: 80%;
}
